/* Reset some default styles */
body,
h1,
h2,
p,
table,
th,
td {
    margin: 0;
    padding: 0;
}



/* Light mode styles */
body:not(.dark-mode) {
    background-color: #ffffff;
    color: #000000;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

/* Dark mode toggle styles */
#dark-mode-toggle-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#dark-mode-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

#dark-mode-toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.4s;
}

#dark-mode-toggle:checked+#dark-mode-toggle-slider {
    background-color: #2196F3;
}

#dark-mode-toggle:checked+#dark-mode-toggle-slider:before {
    transform: translateX(26px);
}

body.dark-mode label {
    color: #000000;
    /* Label color for dark mode */
}


/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    transition: background-color 0.4s, color 0.4s;
}

h1 {
    margin-bottom: 20px;
}

/* Form styling */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label,
input[type="file"],
textarea,
input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-top: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

/* Table styling */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Responsive layout */
@media (max-width: 768px) {
    form {
        width: 100%;
        padding: 15px;
    }
}
